*{
  margin: 0;
  padding: 0;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav{
  max-width: 100%;
  max-width: 1600px;
  height: 92px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1a0b2eFF;
  border: 1px solid #412567FF;
  padding: 16px 200px;
}
.nav h3{
  color: #ffffff;
  font-weight: bold;
  font-size: 38px;
}
.nav h3 span{
    background: linear-gradient(#9100F8,#FB09B4,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav .item{
  gap: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav .item a{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.nav button .arrow{
  width: 18px;
  height: 2px;
  position: relative;
  background: #ffffff;
  
}
.arrow::after{
  content: "";
  position: absolute;
  right: 0;
  top: -4px;
  width: 8px;
  height: 8px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}
.nav button{
  cursor: pointer;
  background: linear-gradient(#9100F8,#FB09B4,#F7E93F);
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}